:root {
    --blue: #1e3c72;
    --blue-2: #2a5298;
}

#text-members {
    background: var(--blue);
    padding: 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 25px;
}

#text-members h1 {
    font-style: italic;
    font-size: 3rem;
    color: #fff;
    letter-spacing: 2px;
}