<link rel="stylesheet" href="../css/about-us.css">

<section id="about-us" class="about-us">
    <div class="container">
        <div class="about-text">
            <h2>About Us</h2>
            <p>
                We’re a team of devs passionate about building cool stuff.
                Each of us brings skills from different areas of tech — from front-end and back-end to design,
                databases, and cloud
                solutions.

                Our goal? Turn ideas into real projects that are simple, practical, and accessible to everyone.
                We believe tech should make life easier and open doors to new opportunities.
            </p>
        </div>
        <div class="about-image">
            <img src="../assets/images/about-us/logo.png" alt="Pangas Team">
        </div>
    </div>
</section>