<link rel="stylesheet" href="../css/footer.css" />

<footer class="footer">
  <div class="social-medias" aria-label="Social Medias">
    <a class="icon" href="mailto:teamemail@example.com" title="Send email" aria-label="Email">
      <img src="assets/images/footer/gmail.png" alt="Email" loading="lazy" />
    </a>

    <a class="icon" href="https://www.linkedin.com/in/teamlinkedin" target="_blank" rel="noopener noreferrer" title="LinkedIn" aria-label="LinkedIn">
      <img src="assets/images/footer/linkedin.png" alt="LinkedIn" loading="lazy" />
    </a>

    <a class="icon" href="https://www.instagram.com/teaminstagram" target="_blank" rel="noopener noreferrer" title="Instagram" aria-label="Instagram">
      <img src="assets/images/footer/instagram.png" alt="Instagram" loading="lazy" />
    </a>
  </div>

  <div class="links">
    <a href="#section-lavique">Lavique</a> |
    <a href="#section-kevyn">Kevyn</a> |
    <a href="#section-esdras">Esdras</a> |
    <a href="#newsletter">Newsletter</a>
  </div>

  <div class="copyright">
    <p>&#169; 2025 Pangas. All rights reserved.</p>
  </div>
</footer>
